.form {
  display: flex;
  justify-content: center;
  align-items: center;

  &__input {
    width: 50%;
    border: none;
    border-radius: 4px;
    padding: 10px;
  }

  &__bstn {
    background: lightskyblue;
    border: none;
    border-radius: 2px;
    padding: 10px 20px;
    color: white;
  }
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
